.projects {
	display: flex;
	flex-wrap: wrap;
	min-height: 447px;
}

.project-item {
	flex: 1 1 25%;
	min-height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all .3s;
}

.project-item:hover {
	transform: scale(1.05);
	z-index: 10;
}

.project-info {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transition: all 0.2s;
	cursor: pointer;
}

.project-info.show {
	opacity: 1;
}

.project-info-header {
	font-size: 1.5rem;
	cursor: pointer;
}

.close-btn {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
	outline: none;
	margin: 1rem;
	padding: 1px;
	cursor: pointer;

}

@media screen and (max-width: 1150px) {
	.project-item {
		flex: 1 1 50%;
	}

	.projects {
		min-height: 600px;
	}
}

@media screen and (max-width: 500px) {
	.projects {
		min-height: 400px;
	}
}
